* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

header {
    background-image: url(assets/mobile-bg.svg);
    background-position: bottom;
    background-size: cover;
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header section {
    padding: 0 1rem;
    margin: 0 9vw;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    line-height: 5rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

header h2 {
    font-size: 1rem;
    text-align: center;
}

header p {
    padding: 0 1rem;
    text-align: center;
}

svg {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 50%;
}

header img {
    height: 40px;
}

header nav {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
    position: relative;
    z-index: 1;
}

nav li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white
}

.nav-links {
    display: flex;
    position: fixed;
    right: 0px;
    top: 0px;
    height: 80vh;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #132A13;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
    opacity: 0;
    min-height: 5vh;
    text-align: center;
}

.burger {
    display: block;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

.about {
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    background-image: url(assets/about.png);
    background-position: bottom;
    background-size: contain;
    display: grid;
    grid-template-columns: 90% 20%;
}

.about img {
    width: 300%;
    position: relative;
    z-index: 0;
    margin-top: 200%;
}

section h2 {
    padding-bottom: 1rem;
}

.shop {
    padding: 2.5rem;
    padding-top: 0;
}

.shop p {
    padding-bottom: 1rem;
}

.shop .container {
    display: flex;
    width: 100%;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shop .container .sort {
    width: 90%;
    padding: 1rem;
    padding-top: 0;
    color: #588746;
}

.shop select {
    display: block;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    border-color: #E6EDCE;
}

.shop .price {
    color: #4e4e4e;
    font-size: 1rem;
}

.shop .card {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.img-container {
    width: 90%;
    height: 230px;
    border: #E6EDCE 2px solid;
    border-radius: 1rem;
    text-align: center;
}

.img-container img {
    max-width: 100%;
    max-height: 80%;
}

.info {
    text-align: center;
    padding: 2.5rem;
    background-image: url(assets/potted-plant.png);
    background-size: cover;
    background-position: center;
}

.info img {
    width: 20%;
}

.info .card {
    padding-bottom: 2rem;
}

.info .card h3 {
    padding-bottom: 0.5rem;
}

.info h2+p {
    padding-bottom: 2rem;
}

.gallery {
    padding: 1rem;
    text-align: center;
}

.gallery-container img {
    width: 32%;
    max-width: 400px;
    height: 150px;
    object-fit: cover;
}

.gallery-text {
    padding: 2rem;
    padding-top: 0;
}

.subscribe-section form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.subscribe-section input {
    height: 40px;
    margin-bottom: 0.5rem;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    color: #6b6b6b;
    border-radius: 0.3rem;
}

.subscribe-section button {
    height: 40px;
    width: 50%;
    background-color: #588746;
    border: 2px solid #588746;
    color: white;
    border-radius: 0.3rem;
}

footer {
    padding: 2.5rem;
    padding-top: 1rem;
}

footer nav {
    display: flex;
    padding-top: 2rem;
}

footer nav a {
    text-decoration: none;
    color: #4e4e4e;
    line-height: 2rem;
    font-weight: bold;
}

footer nav ul:first-of-type {
    width: 60%;
}

footer img {
    position: absolute;
    bottom: 100;
    right: 0;
    width: 35%;
    max-width: 300px;
}

.contact-info {
    display: flex;
}

.contact-info div {
    padding-top: 8px;
}

.contact-info div:first-of-type {
    width: 60%;
}

.contact-info h5 {
    font-size: 16px;
    color: #4e4e4e;
}


/* -----------------------------------------------MEDIA QUERIES------------------------------------------ */

@media only screen and (orientation: landscape) {
    header {
        height: 100vh;
    }
}

@media screen and (min-width: 520px) {
    html {
        font-size: 20px;
    }
    header {
        background-image: url(assets/Plants.png);
    }
    .about {
        grid-template-columns: 75% 25%;
        padding: 2.5rem 1rem 1rem 2.5rem;
    }
    .about img {
        width: 250%;
        margin-top: 0;
    }
    .shop .container {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .shop .card {
        width: 50%;
        padding: 1rem;
        box-sizing: border-box;
    }
    .shop .card:nth-of-type(2n) {
        padding-right: 0;
    }
    .info {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .gallery-container img {
        height: 200px;
    }
}

@media screen and (min-width: 769px) {
    header {
        height: 100vh;
    }
    header h1 {
        font-size: 11rem;
        line-height: 10.5rem;
    }
    header nav {
        justify-content: space-between;
        min-height: 8vh;
    }
    header img {
        height: 60px;
        margin: 10px;
        cursor: pointer;
    }
    .burger {
        display: none;
    }
    .nav-links {
        width: auto;
        position: static;
        top: 0;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        transform: none;
    }
    .nav-links li {
        opacity: 1;
        min-height: 5vh;
        width: auto;
        padding: 15px;
        font-size: 1rem;
    }
    .about {
        grid-template-columns: 60% 40%;
    }
    .about img {
        width: 100%;
        margin-top: 0;
    }
    .shop .card {
        width: 33%;
    }
    .shop .card:nth-of-type(2n) {
        padding-right: 1rem;
    }
    .shop .text-container {
        width: 60%;
    }
    .info-container {
        display: flex;
    }
    .info {
        background-size: contain;
    }
    .info .card {
        padding: 1rem;
    }
    .gallery-container img {
        height: 250px;
    }
    .footer-info {
        display: flex;
        justify-content: space-between;
    }
    .footer-info nav {
        width: 50%;
    }
    .footer-info .contact-info {
        padding-top: 2rem;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    header h1 {
        font-size: 14rem;
        line-height: 10.5rem;
    }
    header p {
        padding: 2rem 6rem;
    }
    .about {
        padding: 4rem 0rem 0rem 6rem;
        grid-template-columns: 50% 50%;
    }
    .about img {
        width: 80%;
        margin-top: 0;
        padding-left: 3rem;
    }
    .shop {
        padding: 1rem 4rem 4rem 6rem;
    }
    .shop .card {
        width: 25%;
    }
    .gallery-container img {
        height: 300px;
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
    footer .subscribe-section {
        width: 40%;
    }
    footer .footer-info {
        width: 55%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -5px);
}